// @import "compass/reset";
@import "compass";

html, body {
	height: 100%;
	background-color: #FFFDF1;
	margin: 0;
}

.coming-soon {
	height: 100%;
	width: 100%;
	min-width: 960px;
	@include background-size(cover);
	background-position: top center;
	background-repeat: no-repeat;
	position: relative;
	img {
		width: 100%;
		display: block;
	}
}