/* =Imports
-------------------------------------------------------------- */
// third party imports
@import "compass/reset";
@import "compass";
@import "susy";
@import "breakpoint";


@charset "UTF-8";

@font-face {
  font-family: "eat-local";
  src:font-url("fonts/eat-local.eot");
  src:font-url("fonts/eat-local.eot?#iefix") format("embedded-opentype"),
    font-url("fonts/eat-local.woff") format("woff"),
    font-url("fonts/eat-local.ttf") format("truetype"),
    font-url("fonts/eat-local.svg#eat-local") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "eat-local" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "eat-local" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-circle-2-down:before {
  content: "a";
}
.icon-arrow-circle-1-down:before {
  content: "b";
}
.icon-arrow-down-thin:before {
  content: "c";
}
.icon-tumblr:before {
  content: "d";
}
.icon-twitter:before {
  content: "e";
}
.icon-facebook:before {
  content: "f";
}
.icon-instagram:before {
  content: "g";
}
.icon-eye:before {
  content: "h";
}
.icon-arrow-small-up:before {
  content: "i";
}



// @import "compass/utilities/sprites";


// @font-face{
// 	font-family:'SamsungIFRg';
// 	src:font-url("SamsungIF_Rg.eot");
// 	src:font-url("SamsungIF_Rg.eot?#iefix") format("embedded-opentype"),
// 	font-url("SamsungIF_Rg.woff") format("woff"),
// 	font-url("SamsungIF_Rg.ttf") format("truetype"),
// 	font-url("SamsungIF_Rg.svg#SamsungIF_Rg") format("svg");
// 	font-weight:normal;
// 	font-style:normal;
// }

// @font-face{
// 	font-family:'SamsungIFRg';
// 	src:font-url("SamsungIF_Bd.eot");
// 	src:font-url("SamsungIF_Bd.eot?#iefix") format("embedded-opentype"),
// 	font-url("SamsungIF_Bd.woff") format("woff"),
// 	font-url("SamsungIF_Bd.ttf") format("truetype"),
// 	font-url("SamsungIF_Bd.svg#SamsungIF_Bd") format("svg");
// 	font-weight:bold;
// 	font-style:normal;
// }




/* =Layout
-------------------------------------------------------------- */
$eatlocal-desktop: (
  math: fluid,
  output: float,
  gutter-position: inside,
  container: 82%,
  container-position: center,
  columns: 12,
  gutters: 1/3,
  global-box-sizing: border-box,
  debug: (
    image: hide,
    color: rgba(#66f, .15),
    output: false,
    toggle: top right,
  )
);

$eatlocal-mobile: (
  math: fluid,
  output: float,
  gutter-position: inside,
  container: 95%,
  container-position: center,
  columns: 6,
  gutters: 1/5,
  global-box-sizing: border-box,
  debug: (
    image: hide,
    color: rgba(#66f, .15),
    output: false,
    toggle: top right,
  )
);




$primary-color: darken(#3a3834, 3%);
$body-font-color: darken(#464232, 5%);
$body-font-family:  "Cabin","Gill Sans", "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-weight: 500;

$header-font-family: $body-font-family;
$header-font-weight: bold;
// $header-font-style: normal;
$header-font-color: darken(#504e4e, 8%);

$base-font-size: 16px;
$base-line-height: 24px;

$rhythm-unit: "rem";
$rem-with-px-fallback: true;


// colors 
$green 		: #699642;
$red 			: #e04f27;
$yellow 	: #fff1c1;
$white		: #FFFDF4;
$black		: #363535;








/* =Breakpoints
-------------------------------------------------------------- */
$desktop: 875px;
$mobile: 0 875px;


@include border-box-sizing;
@include establish-baseline;
@include layout($eatlocal-desktop);


/* =Layout
-------------------------------------------------------------- */

html, body, #main-content {
	height: 100%;
}

html {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: $body-font-family;
	font-weight: $body-font-weight;
	color: $body-font-color;
	background-color: #FFFDF4;
}

#below-fold {
	@include breakpoint($mobile){
		@include background-image(image-url('mobile-bg.jpg'));		
		@include background-size(100% auto);
		background-repeat: repeat-y;
		background-position: center top;
	}
	@include breakpoint($desktop){
		height: 100%;
	}
}

// set max width for device
body {
	display: block;
	margin: 0 auto;
}
.container  {
	// max-width: 1024px;
	@include container($eatlocal-desktop);
	@include breakpoint($mobile){
		@include container($eatlocal-mobile);
	}
	min-width: 320px;
}

.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* IE < 8 */
}
.right {
	float: right;
}

.left {
	float: left;
}

.hundredp {
	min-height: 100%;
	@extend .clearfix;
	@include break;
}


/* =Typography
-------------------------------------------------------------- */
a {
	color: $primary-color;
	@include transition-property(color);
	@include transition-duration(0.2s);
	text-decoration: none;
	&:hover {
		// color: $pink-hover;
	}
}
strong {
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
	// color: $header-font-color;
	font-family: $header-font-family;
	font-weight: 700;
}

/* =General
-------------------------------------------------------------- */

.spinner {
  width: 14px;
  height: 14px;
  margin: 5px auto 0 auto;
  background-color: white;
	display: inline-block;
  border-radius: 100%;  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
  background-color: $red;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0.1;
  }
}

@keyframes scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0.1;
  }
}



/* =Navigation
-------------------------------------------------------------- */

#main-nav {
	position: fixed;
	right: 25px;
	top: 35%;
	z-index: 99;
	@include breakpoint($mobile){
		display: none;
	}
	.label {
		@include translate3d(0,0,0);
		background-color: $white;
		display: inline-block;
		text-align: center;
		width: 90px;
		margin-right: 16px;
		font-size: 11px;
		height: 18px;
		line-height: 18px;
		text-transform: uppercase;
		position: absolute;
		right: 15px;
		@include box-shadow(0 0 2px rgba(black, 0.4));
		@include transition-duration(0.2s);

		z-index: 3;
		&:after, &:before {
			content: " ";
			position: absolute;
			width: 0; 
			height: 0;
			border: 9px solid transparent;
			border-left-color: $white;
			background-color: transparent;
			top: 0;
			right: -18px;
			z-index: 2;
			@include transition-duration(0.2s);
		}
		&:before {
			right: -20px;
			top: -1px;
			z-index: 1;
			border: 10px solid transparent;			
			border-left-color: rgba(black, 0.2);			
		}
	}
	a {
		display: block;
		clear: both;
		// @include padding-leader(0.3);
		@include padding-trailer(0.2);
		.dot {
			width: 10px;
			height: 10px;
			@include border-radius(100%);
			background-color: $green;
			@include transition-duration(0.2s);
			display: inline-block;
			vertical-align: middle;
		}

	}

	// colors 
	&.red {
		.label, {
			background-color: $red;
			color: $white;
		}
		.label:after {
			border-left-color: $red;
		}
		.dot {
			background-color: $red;
		}
	}
	&.yellow {
		.label, {
			background-color: $yellow;
			// color: $white;
		}
		.label:after {
			border-left-color: $yellow;
		}
		.dot {
			background-color: #FCB52E;
		}
	}
	&.black {
		.label, {
			background-color: $yellow;
			// color: $white;
		}
		.label:after {
			border-left-color: $yellow;
		}
		.dot {
			background-color: $black;
		}
	}
}

@include keyframes(introduction) {
  0% {
      opacity:0;
  }
  6% {
      opacity:1;
  }
  24% {
      opacity:1;
  }
  30% {
      opacity:0;
  }
  100% {
      opacity:0;
  }
}
@include keyframes(last-introduction) {
  0% {
      opacity:0;
  }
  100% {
      opacity:1;
  }
}


/* =Intro
-------------------------------------------------------------- */

.cssanimations {
	.introduce {
		@include animation-duration(9.0s);
		@include animation-timing-function(linear);
		// @include animation-iteration-count(1);
		// @include animation-direction(normal);
		@include animation-delay(1s);
		// @include animation-play-state(running);
		@include animation-fill-mode(forwards);
		@include opacity(0);
		vertical-align: middle;
		&:nth-of-type(1) {
			// @include opacity(1);
			// @include animation-delay(3s);
			@include animation-name(introduction);
		}
		&:nth-of-type(2) {
			// @include opacity(1);
			@include animation-delay(4s);
			@include animation-name( introduction);
		}
		&:nth-of-type(3) {
			@include animation-name(last-introduction);
			@include animation-delay(7s);
			@include animation-duration(3.0s);				
			// @include opacity(1);
		}
	}
}

.no-cssanimations {
	.introduce {
		display: block;
		&:nth-of-type(1) {
			display: none;
		}
		&:nth-of-type(2) {
			display: none;
		}
		&.logo {
			display: block;
			@include opacity(1);
		}
	}

}

#intro {
	height: 100%;
	width: 100%;
	min-height: 570px;
	background-color: #FFF;
	position: relative;
	overflow: hidden;
	@include background-size(cover);
	@include breakpoint($desktop){
		@include background-image(image-url('first-loading.jpg'));
	}
	@include breakpoint($mobile){
		@include background-image(image-url('first-loading-mobile.jpg'));		
	}
	.fade-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #FFF;
		z-index: 2;
		@include opacity(0);
	}
	.intro-slide {
		position: absolute;
		top: 36%;
		width: 600px;
		margin-left: -300px;
		left: 50%;		
		@include breakpoint($mobile){
			width: 80%;
			left: 10%;
			top: 30%;
			margin-left: auto;
		}
		text-align: center;
		z-index: 3;
		h1 {
			color: #fffdf2;
			@include text-shadow(0 0 3px rgba(black, 0.4));
			text-transform: uppercase;
			@include adjust-font-size-to(36px);

			@include breakpoint($mobile){
				@include adjust-font-size-to(29px);
			}
		}
		.introduce {
			position: absolute;
			width: 100%;
		}

		img {
			display: inline-block;
		}
	}
	.go-down {
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		text-align: center;
		color: white;
		font-size: 42px;
		@include padding-trailer(2);
		z-index: 5;
	}
	.bg-image {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top:0;
		overflow: hidden;
		z-index: 1;
		.image {
			width: 100%;
			height: 100%;
			@include background-size(cover);
			-ms-behavior: url(backgroundsize.min.htc);
			@include breakpoint($desktop){			
				&.cover {
					@include background-image(image-url('cover.jpg'));
				}
				&.cover-2 {
					@include background-image(image-url('cover-2.jpg'));
				}
				&.cover-3 {
					@include background-image(image-url('cover-3.jpg'));
				}
			}
			@include breakpoint($mobile){
				&.cover {
					@include background-image(image-url('cover-mobile.jpg'));
				}
				&.cover-2 {
					@include background-image(image-url('cover-2-mobile.jpg'));
				}
				&.cover-3 {
					@include background-image(image-url('cover-3-mobile.jpg'));
				}
			}
		}
	}
}

#about {
	text-align: center;
	@include padding-leader(3);
	position: relative;
	@include breakpoint($mobile){
		@include padding-leader(2);		
	}
	@include breakpoint($desktop){
		&:before {
			@include background-image(image-url('about-left.png'));
			-ms-behavior: url(backgroundsize.min.htc);						
			@include background-size(contain);
			content: "";
			left: 0;
			top: 0;
			height: 110%;
			width: 40%;
			position: absolute;
			background-repeat: no-repeat;
			z-index: 3;
		}
		&:after {
			@include background-image(image-url('about-right.png'));
			-ms-behavior: url(backgroundsize.min.htc);						
			@include background-size(contain);
			content: "";
			right: 0;
			top: 0;
			height: 110%;
			background-position: top right;
			width: 40%;
			position: absolute;
			background-repeat: no-repeat;
			z-index: 3;
		}
	}
	.bg-image {
		@include breakpoint($desktop){			
			// @include background-image(image-url('assets-1.png'));
			@include background-size(100% 100%);

		}
		@include breakpoint($mobile){			
			// @include background-image(image-url('mobile-bg.jpg'));
			@include background-size(100% auto);
			@include opacity(0.9);

		}

		background-repeat: no-repeat;		
		background-position: top center;		
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 110%;
		@include breakpoint($mobile){
			height: 100%;
		}
		z-index: 1;
	}
	.container {
		position: relative;
		z-index: 2;
	}

	.warning {
		width: span(6);
		margin: 0 auto;
		color: $red;
		@include breakpoint($mobile){
			width: span(7);			
		}
		h1 {
			@include margin-leader(1);
			@include adjust-font-size-to(30px, 1.5);
			color: $red;
		}
	}
	.explanation {
		@include margin-leader(3);
		width: span(8);
		@include breakpoint($mobile){
			width: span(8);			
		}
		margin-left: auto;
		margin-right: auto;
		color: $green;
	}

	.solution {
		@include padding-leader(2);
		@include padding-trailer(4);
		width: span(6);
		@include breakpoint($mobile){
			width: span(8);	
			@include padding-trailer(1);		
		}
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		color: $green;
		// background-color: #F9F7EC;
		.logo {
			@include margin-trailer(1);
		}

	}
}
#event {
	@include padding-leader(12);
	@include padding-trailer(16);
	@include breakpoint($mobile){
		@include padding-leader(3);
		@include padding-trailer(9);
	}
	text-align: center;
	@include background-size(cover);
	background-repeat: repeat-y;
	// background-attachment: fixed;
	position: relative;

	.bg-image {
		@include breakpoint($desktop){
			@include background-image(image-url('event-bg.jpg'));		
			@include background-size(cover);
			background-position: top center;

		}
		@include breakpoint($mobile){
			// @include background-image(image-url('mobile-bg.jpg'));		
			@include background-size(cover);
			background-position: center -160%;
		}
		background-repeat: no-repeat;		
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
	}
	.container {
		position: relative;
		z-index: 1;
	}

	h2.section-title {
		color: $green;
		text-transform: uppercase;
	}
	.logo {
		@include margin-leader(1);
		@include margin-trailer(1);
		img {
			display: inline-block;
		}

	}

	.event-date {
		@include break;
		@include full;
		@include margin-trailer(2);

		.day {
			@include adjust-font-size-to(23px);
			font-weight: bold;
		}
		.date {
			font-weight: normal;
			@include adjust-font-size-to(18px);
		}
		.time {
			font-weight: normal;			
			@include adjust-font-size-to(12px);
		}
		.left-date {
			@include span(first 6);
			border-right: 1px solid #FCB52E;
			.text {
				float: right;
			}
		}
		.right-date {
			@include span(last 6);
			border-left: 1px solid #FCB52E;

			.text {
				float: left;
			}
		}
	}

	.event-location {
		@include break;
		h2 {
			@include adjust-font-size-to(18px);
		}
		.address {
			@include adjust-font-size-to(15px);
			font-weight: normal;
		}
	}

	.event-info {
		@include margin-leader(2);
		color: $green;
		font-weight: 600;
		@include breakpoint($mobile){
			width: span(8);
			margin-left: auto;
			margin-right: auto;

		}
	}

}

#facts {
	@include breakpoint($desktop){
		height: 65%;
		min-height: 600px;
	}
	width: 100%;
	ul {
		height: 100%;
	}
	li {
		display: block;
		@include breakpoint($desktop){
			@include span(1 no-gutter of 4);
			height: 100%;
		}
		@include breakpoint($mobile){
			@include full;
			height: 400px;
			width: 100%;
			padding: 0;
		}
		@include background-size(cover);
		background-repeat: no-repeat;
		text-align: center;
		position: relative;
		&:hover {
			.overlay {
				@include opacity(1);
			}
		}
		.overlay {
			height: 100%;
			width: 100%;
			background-color: rgba(#474747, 0.95);
			color: white;
			position: relative;
			padding-left: 30px;
			padding-right: 30px;
			@include breakpoint($desktop){
				@include opacity(0);
			}
			@include breakpoint($mobile){
				@include opacity(0.9);
			}
			@include transition-duration(0.5s);
			h2 {
				@include padding-leader(4);
				@include adjust-font-size-to(24px,1.5);
				@include breakpoint($mobile){
					@include margin-trailer(1);
				}
			}
			p {
				@include breakpoint($desktop){
					position: absolute;
					top: 40%;
					left: 0;	
					padding-left: 30px;
					padding-right: 30px;
					width: 100%;	
				}
			}

			.disclaimer {
				position: absolute;
				bottom: 10px;
				@include adjust-font-size-to(10px);
				width: 100%;
				left: 0;
			}
		}
		&.producer {
			@include background-image(image-url('producer.jpg'));
		}
		&.variety {
			@include background-image(image-url('variety.jpg'));
		}
		&.green-house {
			@include background-image(image-url('green-house.jpg'));
		}
		&.desert {
			@include background-image(image-url('desert.jpg'));
		}
		&.farmers {
			@include background-image(image-url('farmers.jpg'));
		}
	}
}

#instagram {
	@include padding-leader(4);
	@include padding-trailer(3);
	background-color: #FFFFFF;
	position: relative;

	&:after {
		position: absolute;
		z-index: 0;
		@include background-image(image-url('insta-bg.jpg'));

		@include breakpoint($desktop){
			background-attachment: fixed;
			@include background-size(400px, 487px);

		}
		@include breakpoint($mobile){
			@include background-size(contain);			
		}
		background-position: bottom left;
		background-repeat: no-repeat;
		content: "";
		width: 100%;
		height: 100%;
		left: 0;
		bottom: 0;
		z-index: 0;

	}
	.container {
		position: relative;
		z-index: 2;
	}

	header {
		text-align: center;
		h1 {
			color: $red;
			@include adjust-font-size-to(24px);

		}
		a {
			color: $red;
		}
	}
	.loading {
		text-align: center;
		@include padding-leader(2);
		position: absolute;
		top: 40%;
		left: 0;
		width: 100%;
		height: 60px;
		span {
			color: rgba($red, 0.8);
			font-size: 13px;
			font-weight: normal;
		}
	}

	.instagram-posts {
		@include margin-leader(3);
		@include breakpoint($desktop){
			@include squish(1,1);
		}
		@include break;
		a {
			@include breakpoint($desktop){
				@include gallery(1 of 3);
			}
			@include breakpoint($mobile){
				// @include gallery(1 of 2);
				width: span(1 of 2);
				float: left;
				padding: 10px;
				max-height: 260px;
			}
			@include margin-trailer(0.5);
			position: relative;
			display: block;
			text-align: center;
			&:hover .overlay {
				@include opacity(1);				
			}

			.wrap {
				position: relative;
			}
			.overlay {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(#e04f27, 0.9);
				color: white;
				@include opacity(0);
				@include transition-duration(0.3s);
			}
			i {
				display: inline-block;
				display: inline-block;
				font-size: 29px;
				margin-top: 38%;
			}
			.username {
				display: block;
				text-transform: uppercase;
			}
			img {
				width: 100%;
				display: block;
				@include breakpoint($mobile){
					max-width: 260px;
					max-height: 260px;

				}
			}
		}
	}
	.load-more-wrap {
		@include break;
		text-align: center;
		@include margin-leader(2);
		// @include opacity(0);
		.button {
			display: inline-block;
			display: none;
		}
	}
}

.button {
	background-color: $red;
	color: white;
	text-align: center;
	padding: 0 40px;
	display: inline-block;
	@include adjust-font-size-to(13px, 1.5);
	text-transform: uppercase;
}

#agritektur {
	background-color: $yellow;
	@include padding-leader(2);
	@include padding-trailer(2);

	// @include breakpoint($desktop){
	// 	height: 30%;
	// }
	.reference {
		@include breakpoint($desktop){
			@include pre(2);
			@include span(first 2);
		}
		@include breakpoint($mobile){
			@include full;
			text-align: center;
		}
	}
	.social-media {
		text-align: center;

		li {
			display: inline-block;
			margin: 4px 4px;
			&:hover {
				a {
					color: white;
					border-color: white;
				}
				&.twitter a {
					background-color: #3ED2ED;
				}
				&.instagram a {
					background-color: #4B799F;
				}
				&.facebook a {
					background-color: #3B5998;
				}
				&.tumblr a {
					background-color: #32506C;
				}
				
			}
			a {
				@include border-radius(100%);
				width: 25px;
				height: 25px;
				line-height: 26px;
				border: 2px solid #201E17;
				display: inline-block;
				i {
					font-size: 14px;
				}
			}
		}
	}

	.about-agritektur {
		@include breakpoint($desktop){
			@include span(5);
			@include pre(1);
		}
		@include breakpoint($mobile){
			@include full;
			@include margin-trailer(2);
			@include margin-leader(1);
			text-align: center;

		}
	}
}

.copyright-bar {
	background-color: $black;
	@include padding-trailer(1);
	@include padding-leader(1);
	color: white;
	@include breakpoint($mobile){
		text-align: center;
	}
	p {
		float: left;
		@include breakpoint($mobile){
			float: none;
		}
	}
	.back-to-top {
		float: right;
		text-align: right;
		color: white;
		i {
			font-size: 18px;
			position: relative;
			top: 5px;
		}
		@include breakpoint($mobile){
			float: none;
			text-align: center;
		}
	}
}